/* Start form Login*/
.form-login {
    max-width: 600px;
    margin:100px  auto;
    border: 1px solid #CCC;
    padding: 20px;
    text-transform: uppercase;
}
.form-login h2 {
    padding: 10px;
}
.form-login .btn {
    text-transform: uppercase;
}
/*STart Member Page*/
.btn-edit {
    margin: 20px auto;
}
.img {
    position: relative;
}
.edit-image {
    width: 90px;
    border-radius: 50%;
    margin: 15px auto;
}
.img i{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
    background: #fd5f26;
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}