/*Start rulez*/
h1 {
    margin: 20px auto;
    font-weight: bold;
}
/*End rulez*/
/*Start Bootstrap Edit*/
a#navbarDropdown.nav-link.dropdown-toggle::after{
    display:none;
}
.alert {
    margin: 20px;
}
.btn i {
    padding: 0 5px;
}
/*End Bootstrap Edit*/
/* Start form Login*/
.form-login {
    max-width: 600px;
    margin:100px  auto;
    border: 1px solid #CCC;
    padding: 20px;
    text-transform: uppercase;
}
.form-login h2 {
    padding: 10px;
}
.form-login .btn {
    text-transform: uppercase;
}
/*Start Member Page*/
.btn-edit {
    margin: 20px auto;
}
.img {
    position: relative;
}
.edit-image {
    width: 90px;
    border-radius: 50%;
    margin: 15px auto;
}
.img i{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
    background: #fd5f26;
    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
.pop-box-edit-img {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 50vh;
    transform: translate(-50%, -50%);
    border: 1px solid #CCC;
    z-index: 999999999;
    display: none;
}
.pop-box-edit-img .options {
    border: 1px solid #ccc;
}
.pop-box-edit-img .options p{
    margin:0;
    padding: 10px;
    cursor: pointer;
}
.pop-box-edit-img .options p:hover,
.pop-box-edit-img .options .active {
    background-color:#BBB;
    color:#333;
}
.pop-box-edit-img form {
    margin: 30px;
}
.pop-box-edit-img .remove {
    padding: 10px; 
    background: red;
    color: #fff;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.vues .form {
    display: none;
}
.vues .form input {
    margin: 30px auto;
}
.vues .gallery {
    display: none;
}
.vues .gallery .img-gallery {
    width:100px;
}
.vues .active {
    display: block;
}
.main-table tr:first-child td {
    background-color:#333;
    color:#fff;
}
.avatar {
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid #FFF;
}
/* End Member Page*/